<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Antrian</title>

  <style>
    .antrian {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .txt-antrian {
      font-size: 70px;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="antrian">
    Nomor antrian terakhir yang sudah diproses:<br>
    <span id="txt-antrian" class="txt-antrian">
      {{ .antrian }}
    </span>
  </div>
  
 <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyA15pnksbbG4Y7IDOWnvZZ3ysqcP5zEfCY",
    authDomain: "learnfirebase-81ac6.firebaseapp.com",
    databaseURL: "https://learnfirebase-81ac6.firebaseio.com",
    projectId: "learnfirebase-81ac6",
    storageBucket: "learnfirebase-81ac6.appspot.com",
    messagingSenderId: "795711233273",
    appId: "1:795711233273:web:5b3e70674b5068c8941628",
    measurementId: "G-5K8JEZXHFL"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
</body>
</html>